<mat-toolbar *ngIf="user" color="primary">
    <button mat-mini-fab (click)="navigate('/timeline')"><mat-icon>home</mat-icon></button>
    <form>
      <mat-form-field>
        <mat-label>Keresés</mat-label>
        <input matInput type="text" name="search" [(ngModel)]="searchTerm" (input)="onSearch()" class="searchfield" [matAutocomplete]="auto"/>
      </mat-form-field>
    </form>
    <mat-autocomplete #auto="matAutocomplete">
      @for (r of searchResults; track r) {
        <mat-option (click)="navigate(r.link)">{{r.name}}</mat-option>
      }
    </mat-autocomplete>
    <span class="spacer"></span>
    <button mat-raised-button (click)="navigate('/profile/'+user._id)">Saját profil</button>
    <button *ngIf="isAdmin" mat-raised-button (click)="navigate('admin')">Admin panel</button>
    <button mat-raised-button color="warn" (click)="logout()">Kijelentkezés</button>
</mat-toolbar>
