<app-navbar></app-navbar>
<div class="form-container" *ngIf="user">
    <form class="editor-form" [formGroup]="profileForm" (ngSubmit)="onSubmit($event)">
        <h2>Profil szerkesztése</h2>
        <mat-form-field>
            <mat-label>Név</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <input formControlName="image" type="file" (change)="onFileSelected($event)"/>
        <mat-form-field>
            <mat-label>Születési dátum</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthday" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
            <mat-error *ngIf="profileForm.get('email')?.errors && profileForm.get('email')?.errors!['email']">Email cím nem valid</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jelszó</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="profileForm.get('password')?.errors && profileForm.get('password')?.errors!['minlength']">A jelszónak legalább 8 karakter hosszúnak kell lennie</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jelszó megerősítés</mat-label>
            <input matInput formControlName="confirmPassword" type="password" />
            <mat-error *ngIf="profileForm.get('confirmPassword')?.errors && profileForm.get('confirmPassword')?.errors!['mustMatch']">Jelszavak nem egyeznek</mat-error>
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button color="primary" type="submit">Mentés</button>
        </div>
        <div class="buttons">
            <button mat-raised-button type="reset" (click)="goBack()">Vissza</button>
        </div>
    </form>
</div>