<app-navbar></app-navbar>
<div class="middle-container">
    <app-post-creator [loc]="'public'"></app-post-creator>
    <div *ngIf="posts">
        <div *ngIf="posts.length > 0; else noPosts">
            <div class="postContainer">
                <div class="author">
                </div>
                <div *ngFor="let post of posts" class="post">
                    <p>{{post.text}}</p>
                    <img *ngIf="post.imageUrl !== ''" [src]="'http://localhost:5000'+ post.imageUrl" alt="Image" width="500">
                </div>
            </div>
        </div>
        <ng-template #noPosts>
            <p>Nincs megjeleníthető bejegyzés</p>
        </ng-template>
    </div>
</div>
<div>
    <a (click)="navigate('create-group')">Csoport létrehozása</a>
    <div *ngFor="let group of groups" class="group">
        <a (click)="navigate('/group/'+group._id)">
            <img *ngIf="group.imageUrl !== ''" [src]="'http://localhost:5000'+ group.imageUrl" alt="Image" height="30">
            <p>{{group.name}}</p>
        </a>
    </div>
</div>
<div *ngIf="friends">
    <div *ngFor="let friend of friends" class="friend">
        <a (click)="navigate('/group/'+friend._id)">
            <img *ngIf="friend.imageUrl !== ''" [src]="'http://localhost:5000'+ friend.imageUrl" alt="Image" height="30">
            <p>{{friend.name}}</p>
        </a>
    </div>
</div>
