<app-navbar></app-navbar>
<div class="form-container">
    <form class="group-form" [formGroup]="groupForm" (ngSubmit)="onSubmit($event)">
        <h2>Csoport létrehozása</h2>
        <mat-form-field>
            <mat-label>Név</mat-label>
            <input matInput formControlName="name" required />
        </mat-form-field>
        <input formControlName="image" type="file" (change)="onFileSelected($event)"/>
        <div *ngIf="groupForm.get('image')?.invalid && (groupForm.get('image')?.dirty || groupForm.get('image')?.touched)">
            <p *ngIf="groupForm.get('image')?.errors && groupForm.get('image')?.errors!['required']">Tölts fel egy képet</p>
        </div>
        <mat-form-field>
            <mat-label>Leírás</mat-label>
            <textarea matInput formControlName="description" required ></textarea>
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button color="primary" type="submit">Létrehozás</button>
        </div>
        <div class="buttons">
            <button mat-raised-button type="reset" (click)="goBack()">Vissza</button>
        </div>
    </form>
</div>
