<app-navbar></app-navbar>
<div *ngIf="group">
    <h2>{{group.name}}</h2>
    <div *ngIf="currentUser">
        <button *ngIf="!isInGroup" (click)="joinGroup()">Csatlakozás</button>
        <button *ngIf="isInGroup" (click)="leaveGroup()">Kilépés</button>
    </div>
    <div>
        <p>{{group.description}}</p>
    </div>
</div>
<app-post-creator *ngIf="group" [loc]="group._id"></app-post-creator>
<div *ngIf="posts">
    <div *ngIf="posts.length > 0; else noPosts">
        <div *ngFor="let post of posts" class="post">
            <p>{{post.text}}</p>
            <img *ngIf="post.imageUrl !== ''" [src]="'http://localhost:5000'+ post.imageUrl" alt="Image" width="400">
        </div>
    </div>
    <ng-template #noPosts>
        <p>Ebben a csopotban még nincs bejegyzés</p>
    </ng-template>
</div>
